/*

	ICONFONTS

*/
@font-face {
	font-family: 'icomoon';
	src:url('../assets/fonts/icomoon.eot?14nm0l');
	src:url('../assets/fonts/icomoon.eot?#iefix14nm0l') format('embedded-opentype'),
		url('../assets/fonts/icomoon.ttf?14nm0l') format('truetype'),
		url('../assets/fonts/icomoon.woff?14nm0l') format('woff'),
		url('../assets/fonts/icomoon.svg?14nm0l#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shared:before {
	content: "\e600";
}
.icon-medal:before {
	content: "\e601";
}
.icon-chulo:before {
	content: "\e602";
}
.medal-icon {
	color: #fff;
	float: left;
	margin-right: 1rem;
    font-size: 5.5rem;
    margin-top: .8rem;
}
.chulo-icon {
	color: #fff;
	float: left;
	margin-right: 1rem;
    font-size: 3.5rem;
    margin-top: .8rem;
}
.orange {
	color: #FBB040;
}
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
/*

	HEADER

*/
.Header {
	background: gray;
	overflow: hidden;
	height: 144px;
    padding: 0 50px 0 40px;
}
.Header-title {
	color: #fff;
	display: inline-block;
	margin-bottom: 0;
	font-size: 63px;
	font-weight: 400;
	margin-top: 1rem;
}
.Header-subTitle {
	color: #FBB040;
	margin: 0;
	font-size: 40px;
}
.Header-name {
	color: #fff;
	display: inline-block;
	float: right;
}
/*

	WRAPPER TEXT LIST

*/
.Wrapper {
	background-image: url("./assets/images/bg.jpg");
	/*background-size: cover;*/
	overflow: hidden;
	height: 100vh;
}
.Wrapper-textTitle {
	margin-top: 0;
	color: #fff;
	font-size: 57px;
}

.Wrapper-text{
	width: 60%;
	background-image: url("./assets/images/naranja.png");
	background-repeat: no-repeat;
    padding: 50px;
	background-position-x: -50px; 
	position: relative;
	top: -.1rem;   
	height: 100vh;
}
.Wrapper-textList {
	font-size: 25px;
	list-style: none;
	padding-left: 0;
	width: 724px;
	text-align: justify;
}
.Wrapper-textList li{
	margin: 0 0 2rem;
}
/*

	WRAPPER CONTATC

*/
.Wrapper-contact{
	background-image: url("./assets/images/gris.png");
	background-repeat: no-repeat;
	width: 50%;
	float: right;
	color: #fff;
	padding: 50px 50px 50px 0;
	position: relative;
	bottom: 57.9rem;;
	height: 100vh;
}
.Wrapper-contactText {
	padding-left: 9rem;
	margin-bottom: 2rem;
}
.Wrapper-contactText > p {
	font-size: 60px;
	margin: 0;
	line-height: 52px;
}
.Wrapper-contactText > p > span.Line2 {
	font-size: 50px;
	margin: 0;
}

.Wrapper-contactText > p > span.Line3 {
	font-size: 40px;
	margin: 0;
}
.Wrapper-contactForm {
	margin-left: 18rem;
}
.Wrapper-contactForm button,
.Shared button {
	background-color: #F7941E;
	border: 0;
	border-radius: 4px;
	padding: .8rem 2rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	float: right;
}
.form-control {
  height: 49px;
  border-radius: 8px;
}
.Shared {
	background: #F15A29;
	margin: 6rem 0 0 13rem;
	padding: 0.4rem 1.8rem 5.4rem;
}
.Shared-text {
	font-size: 34px;
}
.Shared button {
	background-color: #414042;
}
/*

	FOOTER

*/
.Footer {
	background: gray;
}