/*

	ICONFONTS

*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?14nm0l');
	src:url('../fonts/icomoon.eot?#iefix14nm0l') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?14nm0l') format('truetype'),
		url('../fonts/icomoon.woff?14nm0l') format('woff'),
		url('../fonts/icomoon.svg?14nm0l#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-shared:before {
	content: "\e600";
}
.icon-medal:before {
	content: "\e601";
}
.icon-chulo:before {
	content: "\e602";
}
@font-face {
	font-family: 'Conv_ArnoPro-Regular';
	src: url('fonts/ArnoPro-Regular.eot');
	src: local('☺'), url('fonts/ArnoPro-Regular.woff') format('woff'), url('fonts/ArnoPro-Regular.ttf') format('truetype'), url('fonts/ArnoPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.medal-icon {
	color: #fff;
	float: left;
	margin-right: 1rem;
    font-size: 5.5rem;
    margin-top: .8rem;
}
.chulo-icon {
	color: #fff;
	float: left;
	margin-right: 1rem;
    font-size: 3.5rem;
    margin-top: .8rem;
}
.shared-icon {
	font-size: 2.3rem;
	float: right;
	margin: .3rem 1rem;
}
/*

	UTILITIES

*/
.inline-block {
	display: inline-block;
}
.push-right {
	float: right;
}
.orange {
	color: #FBB040;
}
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
/*

	HEADER

*/
.Header {
	background: #414042;
	overflow: hidden;
	height: 144px;
    padding: 0 50px 0 40px;
    font-size: 16px;
}
.Header-title {
	color: #fff;
	display: inline-block;
	margin-bottom: 0;
	font-size: 3.94em;
	font-weight: 400;
	margin-top: 1rem;
}
.Header-subTitle {
	color: #FBB040;
	margin: 0;
	font-size: 2.50em;  
}
.Header-logo {
	height: auto;
  	width: 33%;
	position: absolute;
	right: 40px;
	top: .5rem;

}
/*

	WRAPPER TEXT LIST

*/
.Wrapper {
	background-image: url("../images/bg.jpg");
	overflow: hidden;
	position: relative;
}
.Wrapper-text{
	background-image: url("../images/naranja.png");
	background-repeat: no-repeat;
    padding: 50px 50px 0;
	background-position-x: -50px; 
	position: relative;
	top: -.1rem;   
	padding-bottom: 1.2rem;
    font-size: 16px;
}
.Wrapper-textTitle {
	margin-top: 0;
	color: #fff;
	font-weight: bold;
	font-size: 3.56em;
}
.Wrapper-textList {
	color: #231F20;
	font-size: 1.50em;
	list-style: none;
	padding-left: 0;
	width: 724px;
	text-align: justify;
}
.Wrapper-textList li {
	margin: 0 0 2.8rem;
}
/*

	WRAPPER CONTATC

*/
.Wrapper-contact {
	background-image: url("../images/gris.png");
	background-repeat: no-repeat;
	color: #fff;
	padding: 50px 50px 0 0;
	width: 50%;
	position: absolute;
	top: 0rem;
	bottom: 0;
	right: 0;
	min-height: 100%;
	background-position: 50px 0px;
    font-size: 16px;
}
.Wrapper-contactText {
	padding-left: 16rem;
	margin-bottom: 2rem;
}
.Wrapper-contactText > p {
	font-size: 3.75rem;
	margin: 0;
	line-height: 52px;
}
.Wrapper-contactText > p > span.Line2 {
	font-size: 3.12rem;
	margin: 0;
}

.Wrapper-contactText > p > span.Line3 {
	font-size: 2.50rem;
	margin: 0;
}
.Wrapper-contactForm {
	margin-left: 21rem;
}
.Wrapper-contactForm button,
.Shared button {
	background-color: #F7941E;
	border: 0;
	border-radius: 4px;
	padding: .8rem 2rem;
	margin-bottom: 1rem;
	float: right;
	color: #231F20;
}
.form-control {
  height: 49px;
  border-radius: 8px;
}
.Shared {
	background: #F15A29;
	padding: 2.4rem 1.8rem;
	width: 65%;
	position: absolute;
	right: 50px;
	bottom: 0;
}
.Shared-text {
	font-size: 32px;
}
.Shared button {
	background-color: #414042;
	color: #fff;
}
.Shared button:hover {
	color: #fff;
}
/*

	FOOTER

*/
.Footer {
	background: #414042;
	padding: 26px 50px;
	color: #fff;
	line-height: 30px;
}
@media screen and (min-width: 1800px) {
	.Header-logo {
		top: -.5rem;
	}
}
@media screen and (max-width: 1680px) {
	.Header {
	    font-size: 15px;
	}
	.Wrapper-text {
	    font-size: 15px;
	    background-position: -100px 0px;
	}
	.Wrapper-contact {
	    width: 53%;
	}
	.Wrapper-contactText > p {
		font-size: 3.38rem;
	}
	.Wrapper-contactText > p > span.Line2 {
		font-size: 2.75rem;
	}

	.Wrapper-contactText > p > span.Line3 {
		font-size: 2.12rem;
	}
	
	.Wrapper-contactText {
	    padding-left: 16rem;
	}
	.Shared {
	    padding: 1rem 1.5rem;
	    width: 485px;
	}
	.Shared-text {
		font-size: 29px;
	}
}

@media screen and (min-width: 1450px) {
	body > div.Wrapper > section.Wrapper-text > ul > li:nth-child(3) > span {
		margin-top: .2rem;
	}
	body > div.Wrapper > section.Wrapper-text > ul > li:nth-child(4) > span {
		margin-top: 1.5rem;
	}
}
@media screen and (max-width: 1450px) {
	.Header {
	    font-size: 13px;
	    height: 120px;
	}
	.Wrapper-text {
	    font-size: 13px;
	    background-position: -175px 0px;
	}
	.chulo-icon {
	   font-size: 2.7rem;
	   margin-top: 0.4rem;
	}	
	.medal-icon {
	  font-size: 4.1rem;
	}
	.Wrapper-contact {
	    width: 55%;
	}
	.Wrapper-contactText > p {
		font-size: 3.02rem;
		line-height: 40px;
	}
	.Wrapper-contactText > p > span.Line2 {
		font-size: 2.39rem;
	}
	.Wrapper-contactText > p > span.Line3 {
		font-size: 1.76rem;
	}
	.Shared {
	    padding: 1rem 1rem;
	    width: 410px;
	}
	.Shared-text {
		font-size: 25px;
	}
	.Wrapper-textList {
	    width: 633px;
	}
}
@media screen and (max-width: 1300px) {
	.Wrapper-text {
	    background-position: -288px 0px;
	}
	.Wrapper-textList {
	    width: 530px;
	}
	.chulo-icon {
		font-size: 2.7rem;
		margin-top: 1rem;
	}
	.Wrapper-contactForm {
	    margin-left: 19rem;
	}
	.Wrapper-contact {
	    width: 57%;
	}
	.Header {
	    font-size: 12px;
	}
	.Shared {
	    width: 378px;
	}
	.Shared-text {
	    font-size: 23px;
	}
	.Wrapper-contactForm {
	    margin-left: 17rem;
	}
}
@media screen and (max-width: 1150px) {
	.Header {
		height: auto;
	}
	.Header-logo {
		position: initial;
		float: right;
	}
	.Shared {
	    width: 332px;
	    padding: .6rem;
	    bottom: -15px;
	}
	.Shared-text {
	    font-size: 20px;
	}
}
@media screen and (max-width: 1055px) {
	.Header {
		font-size: 11px;
	}
	.Header-logo {
		width: 300px;
		margin-top: .4rem;
	}
	.Wrapper-text {
	    background: #F7941E;
	    opacity: .9;
	    padding: 60px 50px;
	}
	.Wrapper-textList {
	    min-width: 100%;
	}
	.Wrapper-textTitle {
		font-size: 5em;
		margin-bottom: 2rem;
	}
	.chulo-icon {
		font-size: 3.25rem;
	    margin-top: 0; 
	}
	.medal-icon {
	    font-size: 5.2rem;
	}
	.Wrapper-contact {
		position: initial;
		background: black;
		opacity: .8;
		min-width: 100%;
		overflow: hidden;
		padding: 50px 50px 150px;
	}
	.Wrapper-contactText {
		padding: 0;
		width: 50%;
		margin: 0;
		float: left;
	}
	.Wrapper-contactForm {
		width: 50%;
		margin-left: 0;
		float: left;
	}
	.Shared {
		border-radius: 6px;
		left: 50px;
	}
}
@media screen and (max-width: 940px) {
	.Header {
		font-size: 12px;
	}
	.Wrapper-contact {
		padding: 50px 50px 170px;
	}
	.Wrapper-contactText {
		padding-right: 1rem;
	}
	.Shared {
		right: 50px;
		left: initial;
	}
	.is-active {
		display: block !important;
	}
	.is-desactive {
		display: none !important;
	}
	.Line1-940px {
		line-height: 47px;
	}
	.Line2-940px {
		font-size: 2rem;
	}
}
@media screen and (max-width: 800px) {
	.Header {
		font-size: 11px;
	}
	.Wrapper-textTitle {
	 	font-size: 4em;
	}
	.Footer {
		text-align: center
	}
	.push-right {
	     float: initial; 
	}
}
@media screen and (max-width: 757px) {
	.chulo-icon {
	 	margin-top: .3rem;
	}
}
@media screen and (max-width: 730px) {
	.chulo-icon {
	 	margin-top: .3rem;
	}
	.Header-subTitle {
		font-size: 2.2em;
	}
}
@media screen and (max-width: 663px) {
	.Wrapper-text {
		font-size: 11px;
	}
	.chulo-icon {
		margin-top: 0.1em;
		font-size: 3em;
	}
	.medal-icon {
		font-size: 4.7em;
	}
	.Wrapper-textList {
		width: 100%;
	}
	.Wrapper-contactText {
	  	width: 100%;
  		margin-bottom: 1rem;
	}
	.Wrapper-contactForm {
		width: 100%;
	}
}
@media screen and (max-width: 594px) {
	.Wrapper-text {
		font-size: 10px;
	}
	.Wrapper-textList li {
		margin: 0 0 1.8rem;
	}
	.medal-icon {
		position: relative;
		bottom: .3rem;
	}
	.is-activeTitle {
		display: block !important;		
	}
	.is-desactiveTitle {
		display: none !important;
	}
	.Wrapper-contactText > p {
	  font-size: 2rem;
	}
}
@media screen and (max-width: 486px) {
	.Header-logo {
		float: initial;
	}
	.chulo-icon {
		margin-top: 0.42em;
	}
	.Footer {
		padding: 26px 20px;
	}
	.Header {
	    font-size: 10px;
	}
}
@media screen and (max-width: 437px) {
	.Header {
		padding: 0 35px;
	}
	.Wrapper-text {
		padding: 50px 50px;
	}
}
@media screen and (max-width: 414px) {
	.Header {
		font-size: 8px;
	    padding: 0 24px;
	}
	.Header-logo {
		width: 260px;
	}
	.Wrapper-text {
	    font-size: 8px;
	    padding: 40px 30px;
	}
	.Wrapper-textTitle {
	    font-size: 3.5em;
	}
	.chulo-icon {
	  	margin-top: 0.2em;
		font-size: 2.7em;
	}
	div.Wrapper > section.Wrapper-text > ul > li:nth-child(3) > span {
		margin-top: 0.1em;
	}
	.Wrapper-contact {
	    padding: 30px 30px 170px;
	}
	.Wrapper-contactText > p {
	    font-size: 1.5rem;
	}
	.Line2-940px {
	    font-size: 1.5rem;
	}
	.form-control {
	    height: 42px;
	}
	.Shared {
	    left: 0;
	    right: 0;
	    position: absolute;
	    width: 100%;
	}
	.Shared-text {
	    font-size: 16px;
	}
	.Wrapper-contactForm button, .Shared button {
	    padding: .6rem 2rem;
	}
	.Footer {
		line-height: 16px;
	}
}
@media screen and (max-width: 365px) {
	body > div.Wrapper > section.Wrapper-text > ul > li:nth-child(4) > span {
		margin-top: .61em;
	}
}
@media screen and (max-width: 331px) {
	body > div.Wrapper > section.Wrapper-text > ul > li:nth-child(2) > span {
	    margin-top: 0.61em;
	}
}
@media screen and (max-width: 311px) {
	.Wrapper-text {
	    padding: 30px 20px;
	}
	.Wrapper-contact {
	  	padding: 30px 20px 170px;
	}
}